<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <h3 class="botonn2"><a href="/movies">Listado de Películas</a></h3 class="botonn2">
    <h3 class="botonn2"><a href="/genres">Listado de Generos</a></h3 class="botonn2">
  </body>
</html>
